body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container
{
    max-width: 1150px;
    margin: auto;
}

#intro
{
    background-image: url(images/shapes/Inkedtop-banner_LI.jpg);
    background-repeat: no-repeat;
}

#left_bar_intro
{
    margin-top: 60px;
}

.text_orange
{
    color:#FC9149;
}
.text_green
{
    color: MediumSeaGreen;
}
p
{
    color: rgb(130,130,130);
    padding-bottom: 50px;
}
.intro_heading
{
    color: #575757;
    font-size: 35px;
}
.linkText
{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.order-button
{
    background-image: linear-gradient(120deg,MediumVioletRed,LightCoral);
    padding: 8px 12px;
    border-radius: 100px;
    box-shadow: 2px 5px 10px #fc8f4980;
}
.half-width
{
    width: 40%;
    padding-left: 10%;
}
.half-width img
{
    width: 80%;
}
.flex-div
{
    display:flex;
}


