body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container
{
    max-width: 1150px;
    margin: auto;
}
section
{
    padding-bottom: 80px;
}

/******************** Intro Section  ************/
#intro
{
    background-image: url(images/shapes/Inkedtop-banner_LI.jpg);
    background-repeat: no-repeat;
}

#left_bar_intro
{
    margin-top: 60px;
}

.text_orange
{
    color:#FC9149;
}
.text_green
{
    color: MediumSeaGreen;
}
p
{
    color: rgb(130,130,130);
    padding-bottom: 20px;
}
.intro_heading
{
    color: #575757;
    font-size: 35px;
}
.linkText
{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.order-button
{
    background-image: linear-gradient(120deg,MediumVioletRed,LightCoral);
    padding: 8px 12px;
    border-radius: 100px;
    box-shadow: 2px 5px 10px #fc8f4980;
}
.half-width
{
    width: 40%;
    padding-left: 10%;
}
.half-width img
{
    width: 80%;
}
.flex-div
{
    display:flex;
}

/************** About Us Section *************/
.headline
{
    color: #6f6f6f;
    font-size: 35px;
}
.contact-button
{
    background-image: linear-gradient(120deg,LightSalmon,tomato);
    padding: 8px 12px;
    border-radius: 100px;
    box-shadow: 2px 5px 10px #fc8f4980;
}
#about
{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#left_bar_about img
{
    padding-top: 30px;
    max-width: 80%;
    min-width: 65%;
}

#right_bar_about
{
    padding-right: 200px;
}

.align_center
{
    text-align: center;
}

.justify_text
{
    text-align: justify;
}
/************ Recipies Section ******/
.width_50_auto
{
    width:50%;
    margin: 0 auto;
}

.my_recipies_p
{
    color: #252525;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
}

/******* Card For Recipies, Testmonial ******/
.card 
{
    box-shadow: 8px 8px 30px gray;
    border-radius: 20px;
    width: 20%;
    margin: 0 auto;
    padding: 2% 8% 2% 4%;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.width_80_auto
{
    width:80%;
    margin: 0 auto;
}
/******** Testimonial Section ******/
.border_testimonial
{
    border-left: 5px solid;
    border-image:linear-gradient(blue,orange);
    border-image-slice: 1;
    border-radius: 0px 20px 20px 0px;
}

/********** Newsletter Section **********/
.inpits{
    height: 30px;
    width: 186px;
    background-color: #fbf0f0;
    font-size: 1rem;
    text-align: center;
    margin-right: 5%;
    /* color: black; */
}
.newsletter-button
{
    background-image: linear-gradient(120deg,LightSalmon,tomato);
    /* padding: 8px 12px; */
    border-radius: 50px;
    box-shadow: 2px 5px 10px #fc8f4980;
    height: 40px;
    width: 110px;
    font-size: 1.1rem;
    font-weight: 600;
}

#testimonial_signup
{
    text-align: center;
}

/******* Footer Section *********/
.text_green
{
    color: greenyellow;
}
.text_transparent
{
    color: gray;
}
footer{
    background-color: #0B0D17;
    padding: 20px;
    text-align: center;
}

footer p{
    color: #ddd;
}
